
$fontSize:1vw;

$Wht:#ffffff;
$Red:#ff0000;
$Org:#ff6600;
$Grn:#117711;
$lightGrn:#11aa11;
$lightGry:#cccccc;

$colorDark:#0C1F4A;
$colorLight:#ffffff;

$fontDark:#333333;
$fontLight:#cccccc;

$borderRadius:0.5vw;
$borderLight:1px solid $colorLight;
$borderDashedRed:1px dashed $Red;
$borderDark:1px solid $colorDark;
$borderRed:1px solid $Red;

$colorOneLight:#0C1F4A11;
$colorTwoLight:#0C1F4A33;
$colorOneDark:#ffffffaa;
$colorTwoDark:#ffffffdd;

// $gradientLight:$colorLight,#1264, $colorLight;
// $gradientDark:$colorDark, $colorLight, $colorDark;