@import './../../Variables.scss';

.tagTitle {
  width:100%;
  margin:2vw 0;
  font-size:300%;
  font-weight:bold;

  &-light {
    border-top:$borderDark;
    border-bottom:$borderDark;
    // background-image:linear-gradient( 90deg, $gradientLight );
  }

  &-dark {
    border-top:$borderLight;
    border-bottom:$borderLight;
    // background-image:linear-gradient( 90deg, $gradientDark );
  }
}

.tagP {
  width:100%;
  text-indent:2vw;
  text-align:justify;

  a {
    color:$grn;
    font-weight:bold;
    margin:0 0.5rem;

    &:hover {color:$red}
  }
}

.tagImg {
  width:100%;
  margin:1vw;
}

.tagUl {
  width:90%;

  .ul {
    font-size:120%;
    font-weight:bold;
    margin:2vw 1vw 1vw 1vw;
  }
  
  .li {
    width:80%;
    margin:0 0 0 3vw;
    text-indent:-0.5vw;
  }
}

.tagTheme {
  position:relative;
  width:100%;
  margin:4vw 0 1vw 0;
  
  .line {
    position:relative;
    min-height:0.3vw;
    border-radius:0.1vw;

    &-light {
      background-color:$colorDark;
    }
    &-dark {
      background-color:$colorLight;
    }
  }

  .text {
    position:relative;
    top:-1.5vw;

    &-light {
      span {
        background-color:$colorLight;
        padding:0.5vw 2vw;
        border:$borderDark;
        border-radius:$borderRadius;
      }
    }

    &-dark {
      span {
        background-color:$colorDark;
        padding:0.5vw 2vw;
        border:$borderLight;
        border-radius:$borderRadius;
      }
    }
  }
}

.TagIframe {
  width:100%;
  opacity:0.7;
  border-radius:$borderRadius;
}

.tagTable {
  margin:2vw 0;

  .title {

    .col {
      margin:1px;
      padding:0.5vw;
      font-weight:bold;
      border-radius:$borderRadius;

      &-light {
        color:$fontLight;
        background-color:$colorDark;
      }

      &-dark {
        color:$fontDark;
        background-color:$colorLight;
      }
    }
  }

  .line {

    .colorOne {
      &-light {background-color:#5555;}
      &-dark {background-color:#5555;}
    }
  
    .colorTwo {
      &-light {background-color:#5552;}
      &-dark {background-color:#5552;}
    }

    .col {
      margin:1px;
      padding:0.5vw;
      border-radius:$borderRadius;
    }
  }
}

.tagWrapper {
  width:100%;
  padding:1vw;
}

.tagSlider {
  position:relative;
  width:100%;
  min-height:80vh;

  .sliderBtn {
    width:5vw;
  }

  .sliderImage {

    img {
      width:50vw;
    }
  
    span {
      position:absolute;
      top:70%;
      left:15%;
      padding:0.5vw;
      font-size:200%;
      font-weight:bold;
      color:$colorLight;
      background-color:#5f698166;
      border-radius:$borderRadius;
    }
  }


  // &-light {background-color:#5552;}
  // &-dark {background-color:#5552;}
}