@import './../../../../Variables.scss';

.tagCalculator {
  width:100%;
  margin:0 0 1vw 0;

  
  .content {
    width:100%;

    .checkFuel {
      position:relative;
      top:1px;
      width:100%;

      .left {
        width:60%;

        .btn {
          width:20%;
          min-height:2vw;
          font-weight:bold;
          background-color:#ddd9;
          border-top:1px solid $Wht;
          border-right:1px solid $Wht;
          border-left:1px solid $Wht;
          border-bottom:1px solid $Wht;
          border-radius:$borderRadius $borderRadius 0 0;
    
          &-active {
            min-height:calc(2vw + 1px);
            background-color:#ddd;
            border-top:$borderDark;
            border-right:$borderDark;
            border-left:$borderDark;
            border-bottom:1px solid #ddd;
            z-index:20;
          }
        }
      }

      .right {
        width:40%;

        span {
          width:80%;
          min-height:2vw;
          font-weight:bold;
          background-color:#ddd9;
          border-top:1px solid $Wht;
          border-right:1px solid $Wht;
          border-left:1px solid $Wht;
          border-bottom:1px solid $Wht;
          border-radius:$borderRadius $borderRadius 0 0;
        }
      }
    }

    .pannel {
      width:100%;
      background-color:#ddd;
      border-top:$borderDark;
      border-right:$borderDark;
      border-left:$borderDark;
      border-bottom:$borderDark;
      border-radius:$borderRadius;
      z-index:10;

      .ranges {
        width:60%;
  
        .rangeLine {
          position:relative;
          width:100%;
          margin:1vw 0 0 0;
          padding:0.5vw;
  
          .text {
            position:absolute;
            top:0;
          }
  
          .name {
            width:8vw;
            min-height:2vw;
            border:$borderRed;
            border-radius:$borderRadius;
          }
  
          .line {
            width:50%;
          }
  
          .valueLine {
            width:15vw;
            margin:0 0.5vw;
            font-size:200%;
  
            .value {
              width:40%;
            }
            .units {
              margin-left:0.5vw;
              width:50%;
            }
          }
        }
      }

      .results {
        width:40%;
      }
    }
  




    
  //     .line {
  //     position:relative;
  //     top:1.7vw;
  //     min-height:1vw;
  //     border-radius:0.3vw;

  //     &-light {
  //       border-top:$borderDark;
  //       border-bottom:$borderDark;
  //       border-width:3px;
  //     }
  //     &-dark {
  //       border-top:$borderLight;
  //       border-bottom:$borderLight;
  //       border-width:3px;
  //     }
  //   }

  //   .text {
  //     position:relative;
  //     top:calc(-0.25vw - 6px);

  //     input {
  //       &:focus {
  //         color:$fontDark;
  //         background-color:$lightGry;
  //       }
  //     }

  //     &-admin {

  //       &:hover {
  //         background-color:#f001;
  //         border-top:$borderDashedRed;
  //         border-bottom:$borderDashedRed;
  //       }
  //     }

  //     .span {
  //       min-height:2vw;
  //       padding:0.5vw 2vw;
  //       font-size:120%;
  //       font-weight:bold;
  //       border-radius:$borderRadius;
  //     }

  //     &-light {
  //       border-top:$borderLight;
  //       border-bottom:$borderLight;

  //       .span {
  //         color:$colorDark;
  //         background-color:$colorLight;
  //         border:$borderDark;
  //       }
  //     }

  //     &-dark {
  //       border-top:$borderDark;
  //       border-bottom:$borderDark;

  //       .span {
  //         color:$colorLight;
  //         background-color:$colorDark;
  //         border:$borderLight;
  //       }
  //     }
  //   }
  }
  
  // .Edit-Delete {
  //   width:5vw;
  // }

}