
$color:#000;
$bgColor:#ddd;

$btnColor:#eee;
$btnColorActive:#aaa;

$Wht:#fff;
$Red:#f00;
$Org:#f60;
$Grn:#191;
$lightGrn:#1a1;

$border:1px solid #999;
$borderActive:1px solid #f60;
$borderRadius:0.5vw;


.adminPannel {
  width:100%;
  margin:5vw 0 0 0;
  color:$color;
  background-color:$bgColor;

  .testBtns {
    position:fixed;
    top:6vw;
    right:2vw;

    button {
      width:5vw;
      min-height:2vw;
      margin:0.5vw;
      color:$Wht;
      border:$border;
      border-radius:$borderRadius;
    }

    .testBtn {
      background-color:$Grn;
      &:hover {
        background-color:$lightGrn;
        font-size:120%;
      }
    }

    .saveBtn {
      background-color:$Red;
      &:hover {
        background-color:$Org;
        font-size:120%;
      }
    }
  }

}