@import './../../Variables.scss';

main {
  width:100%;

  .navContent {
    width:90%;
    min-height:80vh;
    padding:1vw 5%;

    &-light {
      color:$fontDark;
      background-color:$colorLight;
    }

    &-dark {
      color:$fontLight;
      background-color:$colorDark;
    }
  }

}