@import './../../../../Variables.scss';

.adminTagH1 {
  width:100%;
  margin:1vw 0;
  font-size:150%;
  font-weight:bold;
}

.adminTagP {
  width:100%;
  text-indent:2vw;
  text-align:justify;

  a {
    color:$lightGrn;
    font-weight:bold;
    margin:0 0.5rem;

    &:hover {color:$Red}
  }
}