@import './../../../../Variables.scss';

.logoPannel {
  width:50vw;
  min-height:3vw;
  margin:2vw;
  padding:0 1vw;
  font-size:200%;
  font-weight:bold;
  border:$borderDark;
  border-radius:$borderRadius;
}