@import './../../Variables.scss';

.tagTheme {
  width:100%;
  margin:0 0 1vw 0;

  .content {
    position:relative; 
    
      .line {
      position:relative;
      top:1.7vw;
      min-height:1vw;
      border-radius:0.3vw;

      &-light {
        border-top:$borderDark;
        border-bottom:$borderDark;
        border-width:3px;
      }
      &-dark {
        border-top:$borderLight;
        border-bottom:$borderLight;
        border-width:3px;
      }
    }

    .text {
      position:relative;
      top:calc(-0.25vw - 6px);

      input {
        &:focus {
          color:$fontDark;
          background-color:$lightGry;
        }
      }

      &-admin {

        &:hover {
          background-color:#f001;
          border-top:$borderDashedRed;
          border-bottom:$borderDashedRed;
        }
      }

      .span {
        min-height:2vw;
        padding:0.5vw 2vw;
        font-size:120%;
        font-weight:bold;
        border-radius:$borderRadius;
      }

      &-light {
        border-top:$borderLight;
        border-bottom:$borderLight;

        .span {
          color:$colorDark;
          background-color:$colorLight;
          border:$borderDark;
        }
      }

      &-dark {
        border-top:$borderDark;
        border-bottom:$borderDark;

        .span {
          color:$colorLight;
          background-color:$colorDark;
          border:$borderLight;
        }
      }
    }
  }
  
  .Edit-Delete {
    width:5vw;
  }

}

.tagHeading {
  width:100%;
  margin:1vw 0;
  font-size:150%;
  font-weight:bold;
  &-admin {

    &:hover {
      background-color:#f001;
      border-top:$borderDashedRed;
      border-bottom:$borderDashedRed;
    }
  }
  &-light {
    border-top:$borderLight;
    border-bottom:$borderLight;
  }
  &-dark {
    border-top:$borderDark;
    border-bottom:$borderDark;
  }

  .content {
    width:100%;

    input {
      width:85vw;
      min-height:2vw;
      padding:0 1vw;
      font-size:120%;
    }
  }

  .Edit-Delete {
    width:5vw;
  }
}

.tagP {
  width:100%;
  text-indent:2vw;
  text-align:justify;
  &-admin {

    &:hover {
      background-color:#f001;
      border-top:$borderDashedRed;
      border-bottom:$borderDashedRed;
    }
  }
  &-light {
    border-top:$borderLight;
    border-bottom:$borderLight;
  }
  &-dark {
    border-top:$borderDark;
    border-bottom:$borderDark;
  }

  a {
    color:$lightGrn;
    font-weight:bold;
    margin:0 0.5rem;
    &:hover {color:$Red}
  }

  textarea {
    width:88vw;
    padding:0.5vw;
  }

  input {
    width:40vw;
    min-height:2vw;
    margin:0.5vw;
    padding:0 1vw;
  }

  .Edit-Delete {
    width:2.5vw;
  }
}

.tagImg {
  width:100%;
  margin:1vw;
}

.tagUl {
  width:100%;
  &-admin {

    &:hover {
      background-color:#f001;
      border-top:$borderDashedRed;
      border-bottom:$borderDashedRed;
    }
  }
  &-light {
    border-top:$borderLight;
    border-bottom:$borderLight;
  }
  &-dark {
    border-top:$borderDark;
    border-bottom:$borderDark;
  }

  .ulArea {
    width:100%;

    input {
      width:90%;
      min-height:2vw;
      padding:0 1vw;
    }
  }

  .ul {
    width:90%;
    font-size:120%;
    font-weight:bold;
  }
  
  .li {
    width:calc(100% - 2vw - 2px);
    margin:0 0 0 2vw;
    font-size:80%;
    font-weight:normal;
    // text-indent:-0.5vw;
  }

  button {
    margin:0 0 0 0.5vw;
    font-size:1.2vw;
    color:$Org;
    border:$borderDark;
    border-radius:$borderRadius;
    background-color:#0000;
    &:hover {
      font-weight:bold;

    }
  }

  .Edit-Delete {
    width:2.5vw;
  }
}

.TagIframe {
  width:100%;
  opacity:0.7;
  border-radius:$borderRadius;
}

.tagTable {
  width:100%;
  &-admin {

    &:hover {
      background-color:#f001;
      border-top:$borderDashedRed;
      border-bottom:$borderDashedRed;
    }
  }
  &-light {
    border-top:$borderLight;
    border-bottom:$borderLight;
  }
  &-dark {
    border-top:$borderDark;
    border-bottom:$borderDark;
  }

  .content {
    width:100%;

    .columnEditPannel {
      width:90vw;
      margin-left:-4vw;

      .columnEdit {
        margin:0 0.5vw;
        padding:0.5vw;
        border:$borderDashedRed;
        border-radius:$borderRadius;

        .editWidthPannel {
          width:9vw;

        }

        .editAlignPannel {
          margin:0.5vw 0 0 0;

          button {
            width:33%;
            margin:0 1px;
            color:$Wht;
            background-color:$Org;
            &:hover {background-color:$Red;}
          }

          .active {
            background-color:$Grn;
            &:hover {background-color:$lightGrn;}
          }
        }
      }
    }

    .table {
      width:90vw;

      .tr {
        width:100%;
    
        .th {
          min-height:2vw;
          margin:1px;
          padding:0 1vw;
          font-weight:bold;
          border:$borderDark;
          border-radius:$borderRadius;
          &-light {
            color:$fontLight;
            background-color:$colorDark;
          }
          &-dark {
            color:$fontDark;
            background-color:$colorLight;
          }
        }
        
        .td {
          min-height:1.5vw;
          margin:1px;
          padding:0 1vw;
          color:$fontDark;
          border-radius:$borderRadius;
          &-light {border:$borderDark;}
          &-dark {border:$borderLight;}
        }

        .colorOne {
          &-light {background-color:colorOneLight;}
          &-dark {background-color:$colorOneDark;}
        }

        .colorTwo {
          &-light {background-color:$colorTwoLight;}
          &-dark {background-color:$colorTwoDark;}
        }
      }
    
      input {
        width:90%;
        padding:0 0.5vw;
        border:none;
      }
    }
  }

  .Edit-Delete {
    width:2.5vw;
  }
}

.tagWrapper {
  width:100%;
  padding:1vw;
}

.tagSlider {
  position:relative;
  width:100%;
  background-color:$colorDark;

  .sliderTop {
    width:100%;
    min-height:70vh;

    .sliderBtn {
      width:10%;
      min-height:50vh;
      
      img {
        width:50%;
        opacity:0.1;
      }
  
      &:hover img {
        width:70%;
        opacity:1;
        transition: width 0.25s;
      }
    }
  
    .sliderImage {
      width:80%;
  
      img {
        width:50vw;
      }
    
      span {
        position:absolute;
        top:60%;
        left:15%;
        padding:0.5vw 2vw;
        font-size:200%;
        font-weight:bold;
        color:$colorLight;
        background-color:#5f698166;
        border-radius:$borderRadius;
      }
    }
  }

  .sliderBottom {
    width:100%;
    min-height:5vh;

    .sliderLineItem {
      width:1.5vw;
      min-height:1.5vw;
      margin:1vw;
      border:5px solid #ccc;
      opacity:0.5;
      border-radius:50%;
      background-image:linear-gradient(#444, #aaa);


      &-active {
        border:5px solid #fff;
        background-image:linear-gradient(#000, #666);
      }

      &:hover {
        width:2vw;
        min-height:2vw;
        margin:0.75vw;
        opacity:1;
        transition: width 0.25s, min-height 0.25s, margin 0.25s;
      }
    }

  }

  // &-light {background-color:#5552;}
  // &-dark {background-color:#5552;}
}

.tagGallery {
  width:100%;

  .sliderBtn {
    width:10%;
    min-height:50vh;
    
    img {
      width:50%;
      opacity:0.1;
    }

    &:hover img {
      width:70%;
      opacity:1;
      transition: width 0.25s;
    }

    .none {display:none;}
  }

  .galleryContainer {
    width:80%;
    min-height:70vh;

    .imgMin {
      width:23vw;
  
      img {
        width:22vw;
        margin:1vw;
        opacity:0.8;
        border-radius:$borderRadius;
        transition: width 1s, margin 1s;
      }
  
      &:hover img {
        width:28vw;
        margin:-2vw;
        opacity:1;
        z-index:1;
        box-shadow: 0 0 0.5vw 0.2vw #fff;
        transition: width 1s, margin 1s;
      }
    }

    .imgMax {
      width:80vw;
  
      img {
        width:63vw;
        margin:0;
        border-radius:$borderRadius;
        box-shadow: 0 0 0.5vw 0.2vw #fff;
      }
    }
  }
}