@import './../../Variables.scss';

.adminPannel {
  width:100%;
  padding:1vw 0;
  background-color:$lightGry;

  .logo {
    width:50vw;
    min-height:3vw;
    margin:2vw;
    padding:0 1vw;
    font-size:200%;
    font-weight:bold;
    border:$borderDark;
    border-radius:$borderRadius;
  }

  .elementMenu {

    .menuBtn {
      width:20vw;
      min-height:2vw;
      margin:2vw 1vw 0.5vw 1vw;
      border:$borderDark;
      border-radius:$borderRadius;
  
      &:hover {
        color:$fontLight;
        background-color:$colorDark;
      }
    }

    .elementMenuHeader {
      width:92vw;
      margin:0.5vw 2vw;
      padding:1vw;
      border:$borderDark;
      border-radius:$borderRadius;

      .subMenuBtn {
        width:15vw;
        min-height:2vw;
        margin:0.5vw 0;
        border:$borderDark;
        border-radius:$borderRadius;
    
        &:hover {
          color:$fontLight;
          background-color:$colorDark;
        }
      }
    }
  }

  

  
  // position:fixed;
  // top:0;
  // width:100%;
  // z-index:1000;
  // background-color:$colorLight;

  // .navMenu {
  //   width:70%;
    
  //   .menuItem {
  //     width:15%;
  //     margin:0.5vw 0.2vw;
  //     font-size:80%;
  //     font-weight:bold;
      
  //     &:hover .menuBtn {
  //       color:$colorLight;
  //       background-color:$colorDark;
  //     }
      
  //     &:hover .subMenu {
  //       display:block;
  //     }
  //   }
    
  //   .menuBtn {
  //     padding:0.5vw;
  //     color:$fontDark;
  //     text-decoration:none;
  //     border:$borderDark;
  //     border-radius:$borderRadius;
  //   }
    
  //   .subMenu {
  //     display:none;
  //     width:12vw;
  //     margin:0 -0.5vw;
  //     position:absolute;
  //     background-color:$fontLight;
  //     border-radius:$borderRadius;
      
  //     .subMenuBtn {
  //       display:block;
  //       padding:0.5vw;
  //       color:$fontDark;
  //       text-decoration:none;
        
  //       &:hover {
  //         color:$colorLight;
  //         background-color:$colorDark;
  //         border-radius:$borderRadius;
  //       }
  //     }
  //   }
  // }

  // .logo {
  //   width:30%;
  //   text-decoration:none;
  //   color:$colorDark;
  
  //   span {
  //     font-size:250%;
  //     font-weight:bold;
  //   }
  
  //   img {
  //     width:40%;
  //     margin:0.5vw;
  //   }
  // }
}