
$color:#000;
$bgColor:#ddd;

$btnColor:#eee;
$btnColorActive:#aaa;

$Wht:#fff;
$Red:#f00;
$Org:#f60;
$Grn:#191;
$lightGrn:#1a1;

$border:1px solid #999;
$borderActive:1px solid #f60;
$borderRadius:0.5vw;


.adminPannel {
  width:100%;
  margin:5vw 0 0 0;
  color:$color;
  background-color:$bgColor;



}