@import './../../Variables.scss';

main {
  width:100%;
  margin-top:4vw;

  .tag {
    position:relative;

    .Edit-Delete {
      width:3vw;
      min-height:6vw;
      margin:0 0 0 0.5vw;
      color:$Wht;
      background-color:$colorDark;
      border:$borderRed;
      border-radius:$borderRadius;

      img {
        width:1.5vw;
        margin:0.5vw;

        &:hover {
          width:2vw;
          margin:0.25vw;
        }
      }
    }
  }

  .addTagPannel {
    width:100%;
    margin:0.5vw 0;
    color:$Red;

    &-light {
      border-top:$borderDark;
      border-bottom:$borderDark;
    }

    &-dark {
      border-top:$borderLight;
      border-bottom:$borderLight;
    }
  }

  .headerPannel {
    width:100%;
    color:$fontLight;
    background-color:$colorDark;

    .headerContent {
      width:95vw;
      margin:1vw 0;
      padding:1vw;
      background-color:$colorDark;
      border:$borderDark;
      border-radius:$borderRadius;
    }
  }

  .subMenuPannel {
    width:100%;

    .subMenuContent {
      width:95vw;
      margin:1vw 0;
      padding:1vw;
      border-radius:$borderRadius;
    }

    &-light {
      color:$fontDark;
      background-color:$colorLight;
    }

    &-dark {
      color:$fontLight;
      background-color:$colorDark;
    }
  }
}