@import './../../Variables.scss';

main {
  width:100%;
  margin-top:4vw;

  .addTagPannel {
    width:100%;
    margin:0.5vw 0;
    color:$Red;

    &-light {
      border-top:$borderDark;
      border-bottom:$borderDark;
    }

    &-dark {
      border-top:$borderLight;
      border-bottom:$borderLight;
    }
  }

  .headerPannel {
    width:100%;
    color:$fontLight;
    background-color:$colorDark;

    .headerContent {
      width:95vw;
      margin:1vw 0;
      padding:1vw;
      background-color:$colorDark;
      border:$borderDark;
      border-radius:$borderRadius;
      
      &-admin {
        border:$borderDashedRed;
      }
    }
  }

  .subMenuPannel {
    width:100%;

    .subMenuContent {
      width:95vw;
      margin:1vw 0;
      padding:1vw;
      border-radius:$borderRadius;
      
      &-admin {
        border:$borderDashedRed;
      }
    }

    &-light {
      color:$fontDark;
      background-color:$colorLight;
    }

    &-dark {
      color:$fontLight;
      background-color:$colorDark;
    }
  }
}