@import './../../Variables.scss';

footer {
  margin:3vw 0;
  min-height:10vw;
  width:100%;
  color:$fontLight;
  background-color:$colorDark;

  .footerTop {
    width:96vw;
    padding:2vw;
    align-items:flex-start;

    .contacts {
      width:25%;
      margin:0 5%;
  
      .contactLine {
        display:block;
        margin:0.5vw 0;
        color:$fontLight;
        text-decoration:none;
      }
    }
  
    .opened {
      width:25%;
      margin:0 5%;

      .days {width:50%;}

      .hours {width:30%;}
    }
  }

  .copyright {
    width:100%;
    min-height:6vw;
    padding:1vw 0;
    color:$fontDark;
    background-color:$colorLight;
  }

  .cookie {
    position:fixed;
    bottom:0;
    width:100%;
    padding:0.5vw 0;
    color:$colorLight;
    font-size:120%;
    background-color:$colorDark;
    border-top:$borderLight;
    z-index:1000;

    a {
      margin:0 1vw;
      color:$fontLight;

      &:hover {
        color:$colorLight;
      }
    }

    .btn {
      width:8vw;
      min-height:2.5vw;
      text-decoration:none;
      background-color:$Grn;
      border-radius:$borderRadius;

      &:hover {
        font-size:120%;
        background-color:$lightGrn;
      }
    }
  }
}