@import './../../Variables.scss';

header {
  position:fixed;
  top:0;
  width:100%;
  height:6vw;
  z-index:1000;
  background-image:linear-gradient(#242424,#f2b841ee, #24242499);

  .logo {
    width:15%;

    img {width:80%;}
  }

  .navMenu {
    width:85%;

    .menuBtn {
      width:10%;
      margin:0.5vw 0.2vw;
      padding:0.5vw;
      color:$fontDark;
      font-size:90%;
      font-weight:bold;
      border:$borderDark;
      border-radius:$borderRadius;

      &:hover {
        color:$fontLight;
        background-color:$colorDark;
      }
    }
  }
}