@import './../../Variables.scss';

footer {
  margin:3vw 0;
  min-height:10vw;
  width:100%;
  color:$fontLight;
  background-color:$colorDark;

  .information {
    width:20%;
    margin:0 5%;

    .infoLine {
      display:block;
      margin:0.5vw 0;
      color:$fontLight;
      text-decoration:none;
    }
  }

  .photos {
    width:35%;

    img {
      width:45%;
      margin:0.5vw;
    }
  }

  .opened {
    width:20%;
    margin:0 5%;
  }

  .copyright {
    width:100%;
    padding:1vw 0;
    color:$fontDark;
    background-color:$colorLight;
  }

  .cookie {
    position:fixed;
    bottom:0;
    width:100%;
    padding:0.5vw 0;
    color:$fontLight;
    background-color:$colorDark;
    border-top:$borderLight;

    a {
      margin:0 0.5vw;
      color:$fontLight;
    }

    .okBtn {
      padding:0.5vw 1.5vw;
      background-color:#191;
      border-radius:$borderRadius;
    }
  }
}