
footer {
  margin:3vw 0;
  min-height:10vw;
  width:80%;
  padding:1vw 10%;
  color:#fff;
  background-color:#126;

  .information {
    width:30%;

    .infoLine {
      display:block;
      margin:0.5vw 0;
      color:#fff;
      text-decoration:none;
    }
  }

  .opened {
    width:20%;
  }
}