@import './../../Variables.scss';

header {
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
  background-color:$colorLight;

  .navMenu {
    width:70%;
    
    .menuItem {
      width:15%;
      margin:0.5vw 0.2vw;
      font-size:80%;
      font-weight:bold;
      
      &:hover .menuBtn {
        color:$colorLight;
        background-color:$colorDark;
      }
      
      &:hover .subMenu {
        display:block;
      }
    }
    
    .menuBtn {
      padding:0.5vw;
      color:$fontDark;
      text-decoration:none;
      border:$borderDark;
      border-radius:$borderRadius;
    }
    
    .subMenu {
      display:none;
      width:12vw;
      margin:0 -0.5vw;
      position:absolute;
      background-color:$fontLight;
      border-radius:$borderRadius;
      
      .subMenuBtn {
        display:block;
        padding:0.5vw;
        color:$fontDark;
        text-decoration:none;
        
        &:hover {
          color:$colorLight;
          background-color:$colorDark;
          border-radius:$borderRadius;
        }
      }
    }
  }

  .logo {
    width:30%;
    text-decoration:none;
    color:$colorDark;

    .adminMode {
      font-size:80%;
      padding:0 0.5vw;
      color:$Wht;
      background-color:$Org;

      .exitBtn {
        width:10vw;
        margin:0.2vw 0.5vw;
        min-height:2vw;
        color:$Wht;
        background-color:$Org;
        border:$borderLight;
        border-radius:$borderRadius;
        &:hover {
          background-color:$Red;
        }
      }
    }
  
    .logoName {
      font-size:250%;
      font-weight:bold;
    }
  
    .logoImg {
      width:40%;
      margin:0.5vw;
    }
  }
}