
$fontSize:1vw;

$red:#ff0000;
$grn:#117711;

$colorDark:#0C1F4A;
$colorLight:#ffffff;

$fontDark:#333333;
$fontLight:#cccccc;

$borderRadius:0.5vw;
$borderLight:1px solid $colorLight;
$borderDark:1px solid $colorDark;

// $gradientLight:$colorLight,#1264, $colorLight;
// $gradientDark:$colorDark, $colorLight, $colorDark;