
.install {
  width:100%;

  .header {
    color:#555;
    font-weight:bold;
  
  }

  .content {
    width:80%;
    margin:0 10% 3vw 10%;

    .theme {
      position:relative;
      width:100%;
  
      .blueLine {
        position:relative;
        background-color:#126;
        min-height:6px;
        border-radius:3px;
      }
  
      .text {
        position:relative;
        top:-1vw;
  
        span {
          padding:0 2vw;
          color:#555;
          background-color:#fff;
        }
      }
    }

    .information {
      width:100%;


      .leftInfo {
        width:40%;
      }

      .rightInfo {
        width:50%;
        padding:0 5%;
      }


      .tags {
        width:100%;

        h3 {
          width:100%;
          color:#555;
          text-align:justify;
        }
  
        .li {
          margin:0.5vw 4vw;
        }

        p {
          text-indent:2vw;
          text-align:justify;
  
          a {
            color:#191;
            font-weight:bold;
            margin:0 0.5rem;
          }
        }
      }

      .table {

        .line {
          width:100%;
          padding:0.5vw 0;
  
          .serviceName {
            width:70%;
            padding:0 0 0 5%;
          }
  
          .serviceSubName {
            width:65%;
            padding:0 0 0 10%;
          }
  
          .servicePrice {
            width:22%;
            padding:0 3% 0 0;
          }
        }
        
        .lightGrey {
          background-color:#eee9;
        }
        .darkGrey {
          background-color:#ddd9;
        }
      }
    }
  }
}